{% extends 'shell.html' %}

{% load staticfiles %}

    {% block content %}
    <div class="navbar">
      <nav>
      <ul>
        <a href="{% url 'wishlist' %}">   <li>Wishlist  </li></a>
        <a href="{% url 'budget_main' %}"><li>Budget    </li></a>
      </ul>
      </nav>
      <div>
          {{ user }}//{{ request.session.family_name }}
          <a href="{% url 'logout' %}">[Log out]</a>
      </div>
  </div>
      <div id="container">
      <section>
      <h2>{% block header %}{% endblock %}</h2>
      <ul class="appmenu">{% block appmenu %}{% endblock %}</ul>
      {% block main %}The main section is empty{% endblock %}
      </section>
      <aside>
      {% block side_menu %}
      {% endblock %}
      </aside>
    </div>
    {% endblock %}
