{% extends 'budget/budget_base.html' %}

{% load filters %}
{% load static %}

{% block main %}
<h3>Accounting</h3>
    <div id='transaction_entry'>
        <div id='transaction_form'>
            <form action="{% url 'transaction_create' %}" method="POST">{% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Save" />
            </form>
        </div>
    </div>
    <table class="datagrid">
    <tr><th>Date</th><th>Category</th><th>Comment</th><th>Amount</th></tr>
      {% for transaction in object_list %}
        <tr>
        <td><a href="{% url 'transaction_update' transaction.pk %}">{{ transaction.date }}</a></td>
        <td>{{ transaction.category }}</td>
        <td>{{ transaction.comment }}</td>
        <td class="currencyDisplay {{ transaction.result|amount_css_class }}">{{ transaction.result|two_decimals }}</td>
        </tr>
      {% endfor %}
    </table>
{% endblock %}

{% block side_menu %}
<p>
<h3>Suggestions:</h3>
<ul>
    {% for sugg in suggestions %}
    <a href="" onclick="inject_date();inject_category();inject_amount()"><li>{{ sugg }}</li></a>
    {% endfor %}
</ul>
</p>
{% endblock %}
