{% extends 'budget/budget_base.html' %}

{% load filters %}
{% load static %}

{% block main %}
  {% if object %}
    <script id='sap-ui-bootstrap'
            src='{% static "openui5/sap-ui-core.js" %}'
            data-sap-ui-theme='sap_bluecrystal'
            data-sap-ui-libs='sap.ui.commons, sap.m'>
    </script>
    <script>
      var object_pk = {{ object }};
    </script>
    <script src="{% static 'budget/budget_detail.js' %}" ></script>
  {% endif %}
  <div id="table" ></div>
{% endblock %}

{% block side_menu %}
<p>
  <h3>Categories:</h3>
  <ul>
    {% for cat in categories %}
    <li>
      <a href="{% url 'category_change' cat.pk %}">{{ cat }}</a>
    </li>
    {% endfor %}
    <li>
    <form action="{% url 'category_create' %}" method="get"><input type="submit" value="New" /></form>
    </li>
  </ul>
</p>
<p>
  <h3>Budgets:</h3>
  <ul>
    {% for b in budgets %}
    <a href='{% url 'budget' b.pk %}'><li>{{ b }}</li></a>
    {% endfor %}
    <li>
    <form action="{% url 'budget_create' %}" method="get"><input type="submit" value="New" /></form>
    </li>
  </ul>
</p>
{% endblock %}
