{% extends 'budget/budget_base.html' %}

{% load filters %}

{% block main %}
{% if view|type == "<class 'budget.views.CategoryCreate'>" %}
<form action="{% url 'category_create' %}" method="post">{% csrf_token %}
{% else %}
<form action="{% url 'category_change' object.pk %}" method="post">{% csrf_token %}
{% endif %}
      {{ form.as_p }}
      <input type="submit" value="Save" />
{% if view|type == "<class 'budget.views.CategoryChange'>" %}
<form action="{% url 'category_del' object.pk %}" method="post" >
      <input type="submit" value="Delete" />
</form>
</form>
{% endif %}
{% endblock %}
