{% extends 'budget/budget_base.html' %}

{% load filters %}
{% load static %}

{% block main %}
<h3>
    Compare budget
</h3>

<p>
    <form method='GET'>
    {{ form.as_p }}
    </form>
</p>

    <table class="datagrid">
    <tr><th>Category</th><th>Budgeted amount</th><th>Actual amount</th><th>Difference</th></tr>
      {% for entry in budget.entry_set.all %}
        <tr>
        <td>{{ entry.category }}</td>
        <td class="currencyDisplay {{ entry.amount_per_month|amount_css_class }}">
            {{ entry.amount_per_month|two_decimals }}
        </td>
        {% with sum=transactions|in_category:entry.category|tr_sum %}
            <td class="currencyDisplay {{ sum|amount_css_class }}">
                {{ sum|two_decimals }}
            </td>
            {% with diff=sum|subtract:entry.amount_per_month %}
                <td class="currencyDisplay {{ diff|amount_css_class }}">
                    {{ diff|two_decimals }}
                    <div class="{{ diff|status_css_class:entry.amount }}" />
                </td>
            {% endwith %}
        {% endwith %}
        </tr>
      {% endfor %}
      <tr><td class="important-datagrid-cell">
    </table>
    <script>
        $('input,select').change(function() {
                $('form').submit();
                });
    </script>
{% endblock %}

{% block sidemenu %}
    aside
{% endblock %}
