{% extends 'budget/budget_base.html' %}

{% load filters %}
{% load static %}

{% block main %}
<h3>
    Compare budget
</h3>

<p>
    <form method='GET'>
    {{ form.as_p }}
    <input type="submit" value="Update" />
    </form>
</p>

    <table class="datagrid">
    <tr><th>Category</th><th>Budgeted amount</th><th>Actual amount</th><th>Difference</th></tr>
      {% for comparison in comparisons %}
        <tr>
        <td>{{ comparison.category|category_display }}</td>
        <td class="currencyDisplay {{ comparison.budgeted_amount|amount_css_class }}">
            {{ comparison.budgeted_amount|two_decimals }}
        </td>
        <td class="currencyDisplay {{ comparison.actual_amount|amount_css_class }}">
            {{ comparison.actual_amount|two_decimals }}
        </td>
        <td class="currencyDisplay {{ comparison.diff|amount_css_class }}">
            {{ comparison.diff|two_decimals }}
            <div class="{{ comparison.diff|status_css_class:comparison.budgeted_amount }}" />
        </td>
        </tr>
      {% endfor %}
      <tr><td class="important-datagrid-cell">
    </table>
{% endblock %}

{% block sidemenu %}
    aside
{% endblock %}
