{% extends 'budget/budget_base.html' %}

{% load filters %}
{% load static %}

{% block main %}
<h3>Compare budget '{{ object }}' against <a href="{% url 'compare' object.pk previous_month.year previous_month.month %}">&lt;-</a>
    {{ month|month }} {{ year }}
    <a href="{% url 'compare' object.pk next_month.year next_month.month %}">-&gt;</a></h3>

    <table class="datagrid">
    <tr><th>Category</th><th>Budgeted amount</th><th>Actual amount</th></tr>
      {% for entry in object.entry_set.all %}
        <tr>
        <td>{{ entry.category }}</td>
        <td class="currencyDisplay {{ entry.amount|amount_css_class }}">
            {{ entry.amount|two_decimals }}
        </td>
        <td class="currencyDisplay {{ entry.amount|amount_css_class }}">
            {{ object_list|in_category:entry.category|tr_sum|two_decimals }}
        </td>
        </tr>
      {% endfor %}
    </table>
{% endblock %}
