{% extends 'budget/budget_base.html' %}

{% load filters %}
{% load static %}

{% block head %}
<script src="{% static 'inject_date.js' %}" ></script>
<script >month = {{ month }};year = {{ year }};</script>
{% endblock %}

{% block main %}
<h3><a href="">&lt;-</a>
    {{ month|month }} {{ year }}
    <a href="">-&gt;</a></h3>
    <div id='transaction_entry'>
        <div id='transaction_form'>
            <form action="{% url 'accounting_main' %}" method="POST">{% csrf_token %}
                {{ form.as_p }}
            </form>
        </div>
        <div id='calendar'>
            <table>
                <tr>
                    <th>M</th>
                    <th>T</th>
                    <th>W</th>
                    <th>T</th>
                    <th>F</th>
                    <th>S</th>
                    <th>S</th>
                </tr>
                {% for week in calendar %}
                <tr>
                    {% for day in week %}
                    {% if day != 0 %}
                    <td class="day">
                        {{ day }}
                        {% else %}
                        <td>
                            {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
            </table>
        </div>
    </div>
    <table class="datagrid">
    <tr><th>Date</th><th>Category</th><th>Comment</th><th>Amount</th></tr>
      {% for transaction in object_list %}
        <tr>
        <td>{{ transaction.date }}</td>
        <td>{{ transaction.category }}</td>
        <td>{{ transaction.comment }}</td>
        <td class="currencyDisplay">{{ transaction.amount|two_decimals }}</td>
        </tr>
      {% endfor %}
    </table>
{% endblock %}

{% block side_menu %}
<p>
</p>
{% endblock %}
